.book-search {
    margin-bottom: 2rem;
    font-family: 'Montserrat', sans-serif;
}

.btn {
    border-color: hsl(180, 40%, 2%);
    background: linear-gradient(to bottom,#000000, #000000 );
}

.btn:hover {
    background: linear-gradient(to bottom,  #000000 33%,  #000000 );
}

input, label, .btn {
    font-family: 'Montserrat', sans-serif;
}